<div class='container'>
  <div class="row py-5">
    <div class="col-5 container bg-white">
      <h1 class='py-3 fs-3'>Leave a comment:</h1>
      <%= simple_form_for([@item, @comment]) do |f| %>
        <div>
          <%= f.input :comment, placeholder: "Enter comment", label: false %>
        </div>
        <div class="d-grid col-6 container py-2">
          <%= f.submit class: "btn gen-btn btn-lg rounded-pill mb-2" %>
        </div>
      <% end %>
    </div>
  </div>
</div>
