// Specific CSS for your home-page
#cta {
  // background: linear-gradient(90deg, rgb(44, 198, 192) 0%, rgb(173, 214, 169) 100%)
  background-color: $dark-bg;
}

#benefits .card {
  min-height: 500px;

}

.col-sm-6 .card-body {
  min-height: 400px;
}

.row {
  padding-top: 150px;
  padding-bottom: 150px;
}

.tag-line {
  font-size: 75px;
}

.heading {
  font-size: 50px;
}

.header-gradient {
  // background: linear-gradient(90deg, rgb(44, 198, 192) 0%, rgb(173, 214, 169) 100%)
  background-color: $light-bg;
  color: #001e1d;
}

.light-bg {
  background-color: $light-bg;
}

.card-body {
  border-radius: 3px;
}

.card-bg {
  background-color: #e8e4e6;
}
