<div class="footer bg-white text-black mt-auto">
  <div class="footer-links">
    <a href="https://github.com/micahthobbs/curbyourspend" target="_blank"><i class="fab fa-github"></i></a>
    <%#= link_to "Benefits", root_path(:anchor => "benefits") %>
    <%#= link_to "Pricing", root_path(:anchor => "pricing") %>
    <%#= link_to "Profiles", root_path %>
    <%# <a href="#"><i class="fab fa-instagram"></i></a>
    <a href="#"><i class="fab fa-facebook"></i></a>
    <a href="#"><i class="fab fa-twitter"></i></a>
    <a href="#"><i class="fab fa-linkedin"></i></a> %>
  </div>
  <div class="footer-copyright">
    <p>Made with <i class="fas fa-heart"></i> by <a href="https://github.com/lachygmunro" target="_blank">Lachy</a>, <a href="https://github.com/phil-tan" target="_blank">Phil</a>, and <a href="https://github.com/micahthobbs" target="_blank">Micah</a>.</p>
  </div>
</div>
