<div class = "notification">
  <a href = "#">
  <div class = "notBtn" href = "#">
    <!--Number supports double digets and automaticly hides itself when there is nothing between divs -->
    <div class = "number"><%=current_user.expiring_items.length%></div>
    <i class="fas fa-bell"></i>
      <div class = "box">
        <div class = "display">
          <div class = "nothing">
            <i class="fas fa-child stick"></i>
            <div class = "cent">Looks Like your all caught up!</div>
          </div>
          <div class = "cont"><!-- Fold this div and try deleting evrything inbetween -->
             <% current_user.expiring_items.each do |item| %>
             <div class = "sec new">
               <a href = <%= "/items/#{item.id}" %> >
               <div class = "txt">Your item, <strong><%=item.name %></strong> is there"</div>
              <div class = "txt sub">11/7 - 2:30 pm</div>
               </a>
            </div>
             <% end %>

         </div>
        </div>
     </div>
  </div>
    </a>
</div>
