  <%= week_calendar events: current_user.items do |date, items| %>
    <%= date %>
    <% items.each do |item| %>
        <% if item.status == 'Cooling off' %>
            <%= link_to item, class: "text-decoration-none text-white" do %>
              <p class='item'><%= item.name.slice(0,15)... %></p>
            <% end %>
        <% end %>
    <% end %>
  <% end %>
