<div>
  <div class="container text-white py-5">
    <h1 class="fs-1 header-txt">Internal server error.</h1>
    <p class="pt-5 fs-3">That’s awkward. But don’t let this short-term error get in the way of your long-term goals.</p>
    <p class="fs-3">You can return to our <%= link_to 'home page', root_path, class: "text-decoration-underline text-white" %> or send us a <%= mail_to 'fake@email.com', "email us", class: "text-decoration-underline text-white" %> if you can’t find what you’re looking for.</p>
  </div>
</div>
