<div class="row">
  <div class="col-5 container mt-3 pt-4 mb-3 pb-3 border">
    <div class='container text-left my-4'>
      <h1 class='d-inline'>Edit item</h1>
      <%= link_to 'Back', items_path, class: 'btn gen-btn d-inline mx-2' %>
    </div>
    <div class='text-center px-5'>
      <%= render partial: 'shared/form', item: @item %>
    </div>
  </div>
</div>
