<div class="row py-5">
  <div class="col-6 container mt-3 py-3 border bg-white">
    <div class='container text-left my-4'>
      <h1 class='d-inline'>Edit item</h1>
      <%= link_to 'Back', items_path, class: 'btn gen-btn d-inline mx-2' %>
    </div>
    <div class='text-center px-5'>
      <%= render partial: 'shared/form', item: @item %>
    </div>
  </div>
</div>
