.card-product {
  overflow: hidden;
  height: auto;
  background: white;
  box-shadow: 0 0 15px rgba(0,0,0,0.2);
  display: flex;
  align-items: center;
  padding: 8px;
  text-decoration: none;
}

.card-product img {
  height: 100%;
  width: 120px;
  object-fit: cover;
  padding-right: 8px;
}

.card-product h2 {
  font-size: 16px;
  font-weight: bold;
  margin: 0;
}

.card-product p {
  font-size: 12px;
  line-height: 1.4;
  opacity: .7;
  margin-bottom: 0;
  margin-top: 8px;
}

.card-product .card-product-infos {
  width: 100%;
}

.boat-photo {
  width: 100%;
}

.pending {
  border: 2px solid yellow;
  border-radius: 5px;
}

.approved {
  border: 2px solid green;
  border-radius: 5px;
}

.rejected {
  border: 2px solid red;
  border-radius: 5px;
  background-color: lightgray;
}

.cancelled {
  border: 2px solid darkgray;
  background-color: lightgray;
  border-radius: 5px;
}

.completed {
  border: 2px solid green;
  background-color: lightgray;
  border-radius: 5px;
}

.expired {
  border: 2px solid darkgray;
  background-color: lightgray;
  border-radius: 5px;
}
