.notification-icon{
  padding-top: 15px;
  font-size: 20pt;
  color: rgb(115, 115, 115);
  margin-right: 23px;
  margin-left: 40px;
}

.notification-icon:hover {
  color: rgb(82, 81, 81);
}

.badge {
  font-size: 8pt;
  top: 10px;
  left: 65px;
}

.notification-list:empty {
  display: none;
}
