.notification-icon{
  padding-top: 15px;
  font-size: 20pt;
  color: #f9bc60;
  margin-right: 23px;
  margin-left: 40px;
}

.notification-icon:hover {
  color: #e99f2f;
}

.badge {
  font-size: 8pt;
  top: 10px;
  left: 65px;
}

.notification-list:empty {
  display: none;
}
